In [95]:
import os
import data
import tensorflow.keras as keras
import os, sys

from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, LSTM, GRU, Dense, Embedding
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from tensorflow.keras.utils import to_categorical
import numpy as np
import matplotlib.pyplot as plt


def get_run_logdir():
    import time
    run_id = time.strftime("run_%Y_%m_%d-%H_%M_%S")
    return os.path.join(root_logdir, run_id)

root_logdir = os.path.join(os.curdir, "my_logs")
run_logdir = get_run_logdir()
tensorboard_cb = keras.callbacks.TensorBoard(run_logdir)

In [96]:
o = data.Train_Data('D:/DS/Learnin/Essex MS/CE888/git/CE888/assignment2/seq2seq/spider/',['train_spider.json','train_others.json'])

o.sql[0]

Reading file at path D:/DS/Learnin/Essex MS/CE888/git/CE888/assignment2/seq2seq/spider/train_spider.json
7000 Rows in Total
Reading file at path D:/DS/Learnin/Essex MS/CE888/git/CE888/assignment2/seq2seq/spider/train_others.json
8659 Rows in Total
Filter Easy Queries
Splittin the Train and Test data
(727, 7)
Data for Training (2908, 7)
Data for Testing (727, 7)

'SELECT Date_of_ceremony ,  RESULT FROM music_festival'

In [112]:
input_sentences = [data.Preprocess(x).processed_text.numpy().decode().replace(data.SOS,'').replace(data.EOS,'') for x in o.questions]
output_sentences = [data.Preprocess(x).processed_text.numpy().decode().replace(data.SOS,'') for x in o.sql]
output_sentences_inputs = [data.Preprocess(x).processed_text.numpy().decode().replace(data.EOS,'') for x in o.questions]

In [47]:
BATCH_SIZE = 64
EPOCHS = 20
LSTM_NODES =256
NUM_SENTENCES = 20000
MAX_SENTENCE_LENGTH = 50
MAX_NUM_WORDS = 20000
EMBEDDING_SIZE = 256

In [49]:
print(input_sentences[172])
print(output_sentences[172])
print(output_sentences_inputs[172])

what is the highest elevation in the united states
select max  (  highest_elevation  )  from highlow; [end]
[start] select max  (  highest_elevation  )  from highlow;

In [115]:
print("num samples input:", len(input_sentences))
print("num samples output:", len(output_sentences))
print("num samples output input:", len(output_sentences_inputs))

num samples input: 2908
num samples output: 2908
num samples output input: 2908

In [116]:
input_tokenizer = Tokenizer(num_words=MAX_NUM_WORDS)
input_tokenizer.fit_on_texts(input_sentences)
input_integer_seq = input_tokenizer.texts_to_sequences(input_sentences)

word2idx_inputs = input_tokenizer.word_index
print('Total unique words in the input: %s' % len(word2idx_inputs))

max_input_len = max(len(sen) for sen in input_integer_seq)
print("Length of longest sentence in input: %g" % max_input_len)

Total unique words in the input: 2163
Length of longest sentence in input: 38

In [118]:
output_tokenizer = Tokenizer(num_words=MAX_NUM_WORDS, filters='')
output_tokenizer.fit_on_texts(output_sentences + output_sentences_inputs)
output_integer_seq = output_tokenizer.texts_to_sequences(output_sentences)
output_input_integer_seq = output_tokenizer.texts_to_sequences(output_sentences_inputs)

word2idx_outputs = output_tokenizer.word_index
print('Total unique words in the output: %s' % len(word2idx_outputs))

num_words_output = len(word2idx_outputs) + 1
max_out_len = max(len(sen) for sen in output_integer_seq)
print("Length of longest sentence in the output: %g" % max_out_len)

Total unique words in the output: 3601
Length of longest sentence in the output: 58

In [125]:
encoder_input_sequences = pad_sequences(input_integer_seq, maxlen=max_input_len)
print("encoder_input_sequences.shape:", encoder_input_sequences.shape)
print("encoder_input_sequences[172]:", encoder_input_sequences[172])

encoder_input_sequences.shape: (2908, 38)
encoder_input_sequences[172]: [  0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   3   8   1  72 316   6   1
 237  51]

In [126]:
decoder_input_sequences = pad_sequences(output_input_integer_seq, maxlen=max_out_len, padding='post')
print("decoder_input_sequences.shape:", decoder_input_sequences.shape)
print("decoder_input_sequences[172]:", decoder_input_sequences[172])

decoder_input_sequences.shape: (2908, 58)
decoder_input_sequences[172]: [  5  14  23   2 122 311  16   2 466  95   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0   0
   0   0   0   0]

In [142]:
decoder_output_sequences = pad_sequences(output_integer_seq, maxlen=max_out_len, padding='post')
print("decoder_output_sequences.shape:", decoder_output_sequences.shape)
print("decoder_output_sequences[172]:", decoder_output_sequences[172])

decoder_output_sequences.shape: (2908, 58)
decoder_output_sequences[172]: [   3   55    8  478    9    1 1061    4    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0    0    0    0    0    0    0    0    0    0    0    0    0
    0    0]

In [143]:
num_words = min(MAX_NUM_WORDS, len(word2idx_inputs) + 1)
embedding_layer = Embedding(num_words, EMBEDDING_SIZE, input_length=max_input_len)

In [144]:
decoder_targets_one_hot = np.zeros((
        len(input_sentences),
        max_out_len,
        num_words_output
    ),
    dtype='float32'
)

In [145]:
decoder_targets_one_hot.shape

(2908, 58, 3602)

In [156]:
# decoder_targets_one_hot[172,1,55]

In [157]:
for i, d in enumerate(decoder_output_sequences):
    for t, word in enumerate(d):
        # print(i,t,word)
        decoder_targets_one_hot[i, t, word] = 1

In [158]:
encoder_inputs_placeholder = Input(shape=(max_input_len,))
x = embedding_layer(encoder_inputs_placeholder)
encoder = LSTM(LSTM_NODES, return_state=True)

encoder_outputs, h, c = encoder(x)
encoder_states = [h, c]

In [159]:
decoder_inputs_placeholder = Input(shape=(max_out_len,))

decoder_embedding = Embedding(num_words_output, LSTM_NODES)
decoder_inputs_x = decoder_embedding(decoder_inputs_placeholder)

decoder_lstm = LSTM(LSTM_NODES, return_sequences=True, return_state=True)
decoder_outputs, _, _ = decoder_lstm(decoder_inputs_x, initial_state=encoder_states)

In [160]:
decoder_dense = Dense(num_words_output, activation='softmax')
decoder_outputs = decoder_dense(decoder_outputs)

In [166]:
model = Model([encoder_inputs_placeholder,
  decoder_inputs_placeholder], decoder_outputs)
model.compile(
    optimizer='rmsprop',
    loss='categorical_crossentropy',
    metrics=['accuracy']
)

In [211]:
r = model.fit(
    [encoder_input_sequences, decoder_input_sequences],
    decoder_targets_one_hot,
    batch_size=64,
    epochs=300,
    validation_split=0.1,callbacks = [tensorboard_cb])

Epoch 1/300
41/41 [==============================] - 39s 919ms/step - loss: 7.4265e-04 - accuracy: 0.9998 - val_loss: 0.9634 - val_accuracy: 0.9010
Epoch 2/300
41/41 [==============================] - 33s 817ms/step - loss: 0.0013 - accuracy: 0.9997 - val_loss: 0.9775 - val_accuracy: 0.9054
Epoch 3/300
41/41 [==============================] - 34s 823ms/step - loss: 6.7916e-04 - accuracy: 0.9998 - val_loss: 1.0294 - val_accuracy: 0.9013
Epoch 4/300
41/41 [==============================] - 35s 855ms/step - loss: 7.2842e-04 - accuracy: 0.9998 - val_loss: 0.9854 - val_accuracy: 0.9054
Epoch 5/300
41/41 [==============================] - 34s 826ms/step - loss: 5.7756e-04 - accuracy: 0.9998 - val_loss: 0.9922 - val_accuracy: 0.9049
Epoch 6/300
41/41 [==============================] - 34s 831ms/step - loss: 8.1995e-04 - accuracy: 0.9998 - val_loss: 1.0016 - val_accuracy: 0.9053
Epoch 7/300
41/41 [==============================] - 32s 786ms/step - loss: 9.9760e-04 - accuracy: 0.9997 - val_loss: 0.9813 - val_accuracy: 0.9050
Epoch 8/300
41/41 [==============================] - 31s 748ms/step - loss: 6.7310e-04 - accuracy: 0.9997 - val_loss: 0.9808 - val_accuracy: 0.9046
Epoch 9/300
41/41 [==============================] - 32s 754ms/step - loss: 6.0147e-04 - accuracy: 0.9998 - val_loss: 0.9809 - val_accuracy: 0.9056
Epoch 10/300
41/41 [==============================] - 30s 727ms/step - loss: 3.6259e-04 - accuracy: 0.9999 - val_loss: 0.9994 - val_accuracy: 0.9058
Epoch 11/300
41/41 [==============================] - 32s 771ms/step - loss: 0.0011 - accuracy: 0.9997 - val_loss: 0.9922 - val_accuracy: 0.9053
Epoch 12/300
41/41 [==============================] - 32s 778ms/step - loss: 0.0014 - accuracy: 0.9997 - val_loss: 1.0029 - val_accuracy: 0.9057
Epoch 13/300
41/41 [==============================] - 30s 740ms/step - loss: 5.4521e-04 - accuracy: 0.9998 - val_loss: 1.0037 - val_accuracy: 0.9046
Epoch 14/300
41/41 [==============================] - 30s 736ms/step - loss: 4.9408e-04 - accuracy: 0.9998 - val_loss: 1.0108 - val_accuracy: 0.9042
Epoch 15/300
41/41 [==============================] - 30s 741ms/step - loss: 3.8947e-04 - accuracy: 0.9999 - val_loss: 1.0106 - val_accuracy: 0.9059
Epoch 16/300
41/41 [==============================] - 29s 706ms/step - loss: 4.0405e-04 - accuracy: 0.9999 - val_loss: 1.0204 - val_accuracy: 0.9057
Epoch 17/300
41/41 [==============================] - 31s 751ms/step - loss: 4.7432e-04 - accuracy: 0.9998 - val_loss: 1.0253 - val_accuracy: 0.9032
Epoch 18/300
41/41 [==============================] - 29s 706ms/step - loss: 5.2589e-04 - accuracy: 0.9998 - val_loss: 1.0177 - val_accuracy: 0.9054
Epoch 19/300
41/41 [==============================] - 30s 731ms/step - loss: 3.4125e-04 - accuracy: 0.9998 - val_loss: 1.0172 - val_accuracy: 0.9059
Epoch 20/300
41/41 [==============================] - 29s 700ms/step - loss: 6.2352e-04 - accuracy: 0.9998 - val_loss: 1.0617 - val_accuracy: 0.9057
Epoch 21/300
41/41 [==============================] - 31s 749ms/step - loss: 3.6625e-04 - accuracy: 0.9999 - val_loss: 1.0426 - val_accuracy: 0.9060
Epoch 22/300
41/41 [==============================] - 29s 703ms/step - loss: 3.3559e-04 - accuracy: 0.9999 - val_loss: 1.0485 - val_accuracy: 0.9055
Epoch 23/300
41/41 [==============================] - 31s 746ms/step - loss: 8.7183e-04 - accuracy: 0.9998 - val_loss: 1.0310 - val_accuracy: 0.9062
Epoch 24/300
41/41 [==============================] - 29s 715ms/step - loss: 8.9871e-04 - accuracy: 0.9997 - val_loss: 1.0383 - val_accuracy: 0.9051
Epoch 25/300
41/41 [==============================] - 31s 753ms/step - loss: 6.1510e-04 - accuracy: 0.9998 - val_loss: 1.0264 - val_accuracy: 0.9040
Epoch 26/300
41/41 [==============================] - 29s 717ms/step - loss: 4.6153e-04 - accuracy: 0.9998 - val_loss: 1.0340 - val_accuracy: 0.9040
Epoch 27/300
41/41 [==============================] - 30s 738ms/step - loss: 0.0016 - accuracy: 0.9997 - val_loss: 1.0043 - val_accuracy: 0.9059
Epoch 28/300
41/41 [==============================] - 29s 703ms/step - loss: 3.7944e-04 - accuracy: 0.9999 - val_loss: 1.0251 - val_accuracy: 0.9054
Epoch 29/300
41/41 [==============================] - 32s 777ms/step - loss: 2.6933e-04 - accuracy: 0.9999 - val_loss: 1.0349 - val_accuracy: 0.9051
Epoch 30/300
41/41 [==============================] - 29s 718ms/step - loss: 3.1834e-04 - accuracy: 0.9999 - val_loss: 1.0438 - val_accuracy: 0.9047
Epoch 31/300
41/41 [==============================] - 30s 731ms/step - loss: 5.4433e-04 - accuracy: 0.9998 - val_loss: 1.0396 - val_accuracy: 0.9055
Epoch 32/300
41/41 [==============================] - 35s 848ms/step - loss: 4.6621e-04 - accuracy: 0.9999 - val_loss: 1.0490 - val_accuracy: 0.9066
Epoch 33/300
41/41 [==============================] - 32s 793ms/step - loss: 4.7797e-04 - accuracy: 0.9998 - val_loss: 1.0504 - val_accuracy: 0.9070
Epoch 34/300
41/41 [==============================] - 33s 818ms/step - loss: 3.3376e-04 - accuracy: 0.9999 - val_loss: 1.0602 - val_accuracy: 0.9058
Epoch 35/300
41/41 [==============================] - 32s 771ms/step - loss: 5.0470e-04 - accuracy: 0.9998 - val_loss: 1.0513 - val_accuracy: 0.9059
Epoch 36/300
41/41 [==============================] - 32s 773ms/step - loss: 2.6974e-04 - accuracy: 0.9999 - val_loss: 1.0621 - val_accuracy: 0.9069
Epoch 37/300
41/41 [==============================] - 31s 766ms/step - loss: 2.5514e-04 - accuracy: 0.9999 - val_loss: 1.0619 - val_accuracy: 0.9068
Epoch 38/300
41/41 [==============================] - 32s 775ms/step - loss: 5.7023e-04 - accuracy: 0.9998 - val_loss: 1.0719 - val_accuracy: 0.9072
Epoch 39/300
41/41 [==============================] - 33s 798ms/step - loss: 2.5145e-04 - accuracy: 0.9999 - val_loss: 1.0664 - val_accuracy: 0.9058
Epoch 40/300
41/41 [==============================] - 33s 800ms/step - loss: 3.1090e-04 - accuracy: 0.9999 - val_loss: 1.0800 - val_accuracy: 0.9071
Epoch 41/300
41/41 [==============================] - 32s 780ms/step - loss: 3.9513e-04 - accuracy: 0.9999 - val_loss: 1.0780 - val_accuracy: 0.9061
Epoch 42/300
41/41 [==============================] - 34s 837ms/step - loss: 3.8121e-04 - accuracy: 0.9999 - val_loss: 1.0785 - val_accuracy: 0.9064
Epoch 43/300
41/41 [==============================] - 32s 789ms/step - loss: 2.2956e-04 - accuracy: 0.9999 - val_loss: 1.0891 - val_accuracy: 0.9075
Epoch 44/300
41/41 [==============================] - 34s 829ms/step - loss: 2.8886e-04 - accuracy: 0.9999 - val_loss: 1.0842 - val_accuracy: 0.9069
Epoch 45/300
41/41 [==============================] - 31s 770ms/step - loss: 2.8895e-04 - accuracy: 0.9999 - val_loss: 1.1061 - val_accuracy: 0.9054
Epoch 46/300
41/41 [==============================] - 30s 743ms/step - loss: 2.2530e-04 - accuracy: 0.9999 - val_loss: 1.1031 - val_accuracy: 0.9059
Epoch 47/300
41/41 [==============================] - 32s 790ms/step - loss: 3.7923e-04 - accuracy: 0.9999 - val_loss: 1.0967 - val_accuracy: 0.9054
Epoch 48/300
41/41 [==============================] - 30s 740ms/step - loss: 3.3102e-04 - accuracy: 0.9999 - val_loss: 1.1260 - val_accuracy: 0.9044
Epoch 49/300
41/41 [==============================] - 31s 747ms/step - loss: 3.6033e-04 - accuracy: 0.9999 - val_loss: 1.0947 - val_accuracy: 0.9052
Epoch 50/300
41/41 [==============================] - 32s 777ms/step - loss: 2.7724e-04 - accuracy: 0.9999 - val_loss: 1.0959 - val_accuracy: 0.9060
Epoch 51/300
41/41 [==============================] - 30s 743ms/step - loss: 3.4892e-04 - accuracy: 0.9999 - val_loss: 1.1009 - val_accuracy: 0.9056
Epoch 52/300
41/41 [==============================] - 32s 776ms/step - loss: 5.5115e-04 - accuracy: 0.9998 - val_loss: 1.0882 - val_accuracy: 0.9066
Epoch 53/300
41/41 [==============================] - 33s 805ms/step - loss: 2.9957e-04 - accuracy: 0.9999 - val_loss: 1.1114 - val_accuracy: 0.9063
Epoch 54/300
41/41 [==============================] - 33s 800ms/step - loss: 3.0308e-04 - accuracy: 0.9999 - val_loss: 1.1240 - val_accuracy: 0.9064
Epoch 55/300
41/41 [==============================] - 32s 768ms/step - loss: 2.3298e-04 - accuracy: 0.9999 - val_loss: 1.1103 - val_accuracy: 0.9062
Epoch 56/300
41/41 [==============================] - 32s 785ms/step - loss: 2.8902e-04 - accuracy: 0.9999 - val_loss: 1.1204 - val_accuracy: 0.9066
Epoch 57/300
41/41 [==============================] - 31s 757ms/step - loss: 2.5627e-04 - accuracy: 0.9999 - val_loss: 1.1116 - val_accuracy: 0.9052
Epoch 58/300
41/41 [==============================] - 30s 735ms/step - loss: 3.0761e-04 - accuracy: 0.9999 - val_loss: 1.1333 - val_accuracy: 0.9069
Epoch 59/300
41/41 [==============================] - 31s 769ms/step - loss: 7.8392e-04 - accuracy: 0.9998 - val_loss: 1.1252 - val_accuracy: 0.9051
Epoch 60/300
41/41 [==============================] - 29s 710ms/step - loss: 4.6349e-04 - accuracy: 0.9998 - val_loss: 1.1307 - val_accuracy: 0.9043
Epoch 61/300
41/41 [==============================] - 31s 769ms/step - loss: 3.6075e-04 - accuracy: 0.9999 - val_loss: 1.1283 - val_accuracy: 0.9049
Epoch 62/300
41/41 [==============================] - 29s 703ms/step - loss: 2.5787e-04 - accuracy: 0.9999 - val_loss: 1.1314 - val_accuracy: 0.9065
Epoch 63/300
41/41 [==============================] - 30s 737ms/step - loss: 2.5217e-04 - accuracy: 0.9999 - val_loss: 1.1283 - val_accuracy: 0.9063
Epoch 64/300
41/41 [==============================] - 29s 697ms/step - loss: 7.8230e-04 - accuracy: 0.9998 - val_loss: 1.1324 - val_accuracy: 0.9046
Epoch 65/300
41/41 [==============================] - 32s 779ms/step - loss: 9.1969e-04 - accuracy: 0.9997 - val_loss: 1.1463 - val_accuracy: 0.9036
Epoch 66/300
41/41 [==============================] - 29s 719ms/step - loss: 3.0924e-04 - accuracy: 0.9999 - val_loss: 1.1485 - val_accuracy: 0.9043
Epoch 67/300
41/41 [==============================] - 30s 727ms/step - loss: 1.9914e-04 - accuracy: 0.9999 - val_loss: 1.1485 - val_accuracy: 0.9048
Epoch 68/300
41/41 [==============================] - 28s 695ms/step - loss: 5.1396e-04 - accuracy: 0.9999 - val_loss: 1.1461 - val_accuracy: 0.9059
Epoch 69/300
41/41 [==============================] - 31s 754ms/step - loss: 9.1963e-04 - accuracy: 0.9997 - val_loss: 1.1294 - val_accuracy: 0.9016
Epoch 70/300
41/41 [==============================] - 29s 720ms/step - loss: 4.3060e-04 - accuracy: 0.9999 - val_loss: 1.1449 - val_accuracy: 0.9034
Epoch 71/300
41/41 [==============================] - 33s 797ms/step - loss: 4.1399e-04 - accuracy: 0.9998 - val_loss: 1.1247 - val_accuracy: 0.9022
Epoch 72/300
41/41 [==============================] - 31s 746ms/step - loss: 4.0988e-04 - accuracy: 0.9999 - val_loss: 1.0995 - val_accuracy: 0.9029
Epoch 73/300
41/41 [==============================] - 32s 780ms/step - loss: 2.8924e-04 - accuracy: 0.9999 - val_loss: 1.1338 - val_accuracy: 0.9039
Epoch 74/300
41/41 [==============================] - 29s 715ms/step - loss: 2.0966e-04 - accuracy: 0.9999 - val_loss: 1.1286 - val_accuracy: 0.9048
Epoch 75/300
41/41 [==============================] - 31s 749ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 1.1285 - val_accuracy: 0.9023
Epoch 76/300
41/41 [==============================] - 29s 701ms/step - loss: 2.6853e-04 - accuracy: 0.9999 - val_loss: 1.1249 - val_accuracy: 0.9025
Epoch 77/300
41/41 [==============================] - 32s 772ms/step - loss: 5.1584e-04 - accuracy: 0.9999 - val_loss: 1.1185 - val_accuracy: 0.9014
Epoch 78/300
41/41 [==============================] - 29s 710ms/step - loss: 5.5964e-04 - accuracy: 0.9998 - val_loss: 1.1352 - val_accuracy: 0.9035
Epoch 79/300
41/41 [==============================] - 31s 759ms/step - loss: 6.8572e-04 - accuracy: 0.9998 - val_loss: 1.1407 - val_accuracy: 0.9046
Epoch 80/300
41/41 [==============================] - 29s 710ms/step - loss: 2.1167e-04 - accuracy: 0.9999 - val_loss: 1.1449 - val_accuracy: 0.9040
Epoch 81/300
41/41 [==============================] - 31s 771ms/step - loss: 2.4583e-04 - accuracy: 0.9999 - val_loss: 1.1491 - val_accuracy: 0.9050
Epoch 82/300
41/41 [==============================] - 31s 752ms/step - loss: 4.4084e-04 - accuracy: 0.9999 - val_loss: 1.1555 - val_accuracy: 0.9069
Epoch 83/300
41/41 [==============================] - 31s 758ms/step - loss: 4.4213e-04 - accuracy: 0.9999 - val_loss: 1.1303 - val_accuracy: 0.9060
Epoch 84/300
41/41 [==============================] - 31s 759ms/step - loss: 5.1632e-04 - accuracy: 0.9998 - val_loss: 1.1370 - val_accuracy: 0.9018
Epoch 85/300
41/41 [==============================] - 33s 818ms/step - loss: 3.2120e-04 - accuracy: 0.9999 - val_loss: 1.1429 - val_accuracy: 0.9046
Epoch 86/300
41/41 [==============================] - 29s 709ms/step - loss: 1.9339e-04 - accuracy: 0.9999 - val_loss: 1.1463 - val_accuracy: 0.9049
Epoch 87/300
41/41 [==============================] - 33s 797ms/step - loss: 1.8888e-04 - accuracy: 0.9999 - val_loss: 1.1622 - val_accuracy: 0.9015
Epoch 88/300
41/41 [==============================] - 29s 704ms/step - loss: 0.0014 - accuracy: 0.9996 - val_loss: 1.1505 - val_accuracy: 0.9037
Epoch 89/300
41/41 [==============================] - 30s 745ms/step - loss: 0.0013 - accuracy: 0.9998 - val_loss: 1.1418 - val_accuracy: 0.9038
Epoch 90/300
41/41 [==============================] - 29s 707ms/step - loss: 1.8837e-04 - accuracy: 0.9999 - val_loss: 1.1347 - val_accuracy: 0.9047
Epoch 91/300
41/41 [==============================] - 30s 726ms/step - loss: 1.6496e-04 - accuracy: 0.9999 - val_loss: 1.1507 - val_accuracy: 0.9056
Epoch 92/300
41/41 [==============================] - 30s 736ms/step - loss: 1.7960e-04 - accuracy: 0.9999 - val_loss: 1.1632 - val_accuracy: 0.9062
Epoch 93/300
41/41 [==============================] - 30s 723ms/step - loss: 1.7789e-04 - accuracy: 0.9999 - val_loss: 1.1634 - val_accuracy: 0.9057
Epoch 94/300
41/41 [==============================] - 30s 734ms/step - loss: 1.9103e-04 - accuracy: 0.9999 - val_loss: 1.1676 - val_accuracy: 0.9054
Epoch 95/300
41/41 [==============================] - 30s 725ms/step - loss: 2.6347e-04 - accuracy: 0.9999 - val_loss: 1.1638 - val_accuracy: 0.9056
Epoch 96/300
41/41 [==============================] - 29s 715ms/step - loss: 2.0839e-04 - accuracy: 0.9999 - val_loss: 1.1725 - val_accuracy: 0.9058
Epoch 97/300
41/41 [==============================] - 29s 714ms/step - loss: 2.8974e-04 - accuracy: 0.9999 - val_loss: 1.1557 - val_accuracy: 0.9059
Epoch 98/300
41/41 [==============================] - 29s 708ms/step - loss: 2.9334e-04 - accuracy: 0.9999 - val_loss: 1.1792 - val_accuracy: 0.9054
Epoch 99/300
41/41 [==============================] - 29s 715ms/step - loss: 1.7244e-04 - accuracy: 0.9999 - val_loss: 1.1558 - val_accuracy: 0.9056
Epoch 100/300
41/41 [==============================] - 29s 697ms/step - loss: 1.8381e-04 - accuracy: 0.9999 - val_loss: 1.1750 - val_accuracy: 0.9050
Epoch 101/300
41/41 [==============================] - 29s 714ms/step - loss: 3.5504e-04 - accuracy: 0.9999 - val_loss: 1.1721 - val_accuracy: 0.9061
Epoch 102/300
41/41 [==============================] - 28s 695ms/step - loss: 2.8044e-04 - accuracy: 0.9999 - val_loss: 1.1779 - val_accuracy: 0.9069
Epoch 103/300
41/41 [==============================] - 29s 710ms/step - loss: 2.3361e-04 - accuracy: 0.9999 - val_loss: 1.1748 - val_accuracy: 0.9073
Epoch 104/300
41/41 [==============================] - 28s 697ms/step - loss: 1.6309e-04 - accuracy: 0.9999 - val_loss: 1.1877 - val_accuracy: 0.9068
Epoch 105/300
41/41 [==============================] - 30s 733ms/step - loss: 1.6379e-04 - accuracy: 0.9999 - val_loss: 1.2028 - val_accuracy: 0.9061
Epoch 106/300
41/41 [==============================] - 29s 706ms/step - loss: 1.9297e-04 - accuracy: 0.9999 - val_loss: 1.1934 - val_accuracy: 0.9051
Epoch 107/300
41/41 [==============================] - 29s 718ms/step - loss: 1.6859e-04 - accuracy: 0.9999 - val_loss: 1.1931 - val_accuracy: 0.9069
Epoch 108/300
41/41 [==============================] - 29s 710ms/step - loss: 2.3988e-04 - accuracy: 0.9999 - val_loss: 1.2172 - val_accuracy: 0.9059
Epoch 109/300
41/41 [==============================] - 30s 730ms/step - loss: 4.8706e-04 - accuracy: 0.9998 - val_loss: 1.2013 - val_accuracy: 0.9046
Epoch 110/300
41/41 [==============================] - 29s 707ms/step - loss: 6.3747e-04 - accuracy: 0.9998 - val_loss: 1.1941 - val_accuracy: 0.9052
Epoch 111/300
41/41 [==============================] - 34s 836ms/step - loss: 1.5922e-04 - accuracy: 0.9999 - val_loss: 1.1973 - val_accuracy: 0.9058
Epoch 112/300
41/41 [==============================] - 30s 729ms/step - loss: 1.6682e-04 - accuracy: 0.9999 - val_loss: 1.2043 - val_accuracy: 0.9062
Epoch 113/300
41/41 [==============================] - 29s 708ms/step - loss: 1.8781e-04 - accuracy: 0.9999 - val_loss: 1.2269 - val_accuracy: 0.9051
Epoch 114/300
41/41 [==============================] - 30s 724ms/step - loss: 1.7341e-04 - accuracy: 0.9999 - val_loss: 1.2087 - val_accuracy: 0.9066
Epoch 115/300
41/41 [==============================] - 29s 703ms/step - loss: 1.6859e-04 - accuracy: 0.9999 - val_loss: 1.2083 - val_accuracy: 0.9060
Epoch 116/300
41/41 [==============================] - 30s 727ms/step - loss: 8.0296e-04 - accuracy: 0.9998 - val_loss: 1.2009 - val_accuracy: 0.9057
Epoch 117/300
41/41 [==============================] - 29s 701ms/step - loss: 1.6240e-04 - accuracy: 0.9999 - val_loss: 1.1995 - val_accuracy: 0.9057
Epoch 118/300
41/41 [==============================] - 29s 710ms/step - loss: 1.5599e-04 - accuracy: 0.9999 - val_loss: 1.2042 - val_accuracy: 0.9048
Epoch 119/300
41/41 [==============================] - 30s 739ms/step - loss: 1.6938e-04 - accuracy: 0.9999 - val_loss: 1.2160 - val_accuracy: 0.9066
Epoch 120/300
41/41 [==============================] - 29s 716ms/step - loss: 1.7846e-04 - accuracy: 0.9999 - val_loss: 1.2198 - val_accuracy: 0.9068
Epoch 121/300
41/41 [==============================] - 29s 715ms/step - loss: 1.8316e-04 - accuracy: 0.9999 - val_loss: 1.2073 - val_accuracy: 0.9065
Epoch 122/300
41/41 [==============================] - 29s 702ms/step - loss: 2.2193e-04 - accuracy: 0.9999 - val_loss: 1.2281 - val_accuracy: 0.9054
Epoch 123/300
41/41 [==============================] - 30s 736ms/step - loss: 2.4007e-04 - accuracy: 0.9999 - val_loss: 1.2299 - val_accuracy: 0.9032
Epoch 124/300
41/41 [==============================] - 29s 709ms/step - loss: 1.9446e-04 - accuracy: 0.9999 - val_loss: 1.2281 - val_accuracy: 0.9055
Epoch 125/300
41/41 [==============================] - 29s 707ms/step - loss: 1.5891e-04 - accuracy: 0.9999 - val_loss: 1.2222 - val_accuracy: 0.9059
Epoch 126/300
41/41 [==============================] - 29s 710ms/step - loss: 1.7234e-04 - accuracy: 0.9999 - val_loss: 1.2221 - val_accuracy: 0.9048
Epoch 127/300
41/41 [==============================] - 31s 749ms/step - loss: 1.7632e-04 - accuracy: 0.9999 - val_loss: 1.2332 - val_accuracy: 0.9052
Epoch 128/300
41/41 [==============================] - 30s 730ms/step - loss: 1.6802e-04 - accuracy: 0.9999 - val_loss: 1.2204 - val_accuracy: 0.9059
Epoch 129/300
41/41 [==============================] - 29s 708ms/step - loss: 1.6619e-04 - accuracy: 0.9999 - val_loss: 1.2480 - val_accuracy: 0.9069
Epoch 130/300
41/41 [==============================] - 29s 705ms/step - loss: 1.8332e-04 - accuracy: 0.9999 - val_loss: 1.2386 - val_accuracy: 0.9062
Epoch 131/300
41/41 [==============================] - 30s 739ms/step - loss: 1.6667e-04 - accuracy: 0.9999 - val_loss: 1.2321 - val_accuracy: 0.9063
Epoch 132/300
41/41 [==============================] - 33s 803ms/step - loss: 1.7728e-04 - accuracy: 0.9999 - val_loss: 1.2423 - val_accuracy: 0.9069
Epoch 133/300
41/41 [==============================] - 30s 744ms/step - loss: 1.6391e-04 - accuracy: 0.9999 - val_loss: 1.2478 - val_accuracy: 0.9064
Epoch 134/300
41/41 [==============================] - 31s 770ms/step - loss: 1.6724e-04 - accuracy: 0.9999 - val_loss: 1.2401 - val_accuracy: 0.9067
Epoch 135/300

In [212]:
encoder_model = Model(encoder_inputs_placeholder, encoder_states)

In [213]:
decoder_state_input_h = Input(shape=(LSTM_NODES,))
decoder_state_input_c = Input(shape=(LSTM_NODES,))
decoder_states_inputs = [decoder_state_input_h, decoder_state_input_c]

In [214]:
decoder_inputs_single = Input(shape=(1,))
decoder_inputs_single_x = decoder_embedding(decoder_inputs_single)

In [215]:
decoder_outputs, h, c = decoder_lstm(decoder_inputs_single_x, initial_state=decoder_states_inputs)
decoder_states = [h, c]
decoder_outputs = decoder_dense(decoder_outputs)
decoder_model = Model(
    [decoder_inputs_single] + decoder_states_inputs,
    [decoder_outputs] + decoder_states
)

In [216]:
idx2word_input = {v:k for k, v in word2idx_inputs.items()}
idx2word_target = {v:k for k, v in word2idx_outputs.items()}

In [217]:
def translate_sentence(input_seq):
    states_value = encoder_model.predict(input_seq)
    target_seq = np.zeros((1, 1))
    target_seq[0, 0] = word2idx_outputs[data.SOS]
    eos = word2idx_outputs[data.EOS]
    output_sentence = []

    for _ in range(max_out_len):
        output_tokens, h, c = decoder_model.predict([target_seq] + states_value)
        idx = np.argmax(output_tokens[0, 0, :])

        if eos == idx:
            break

        word = ''

        if idx > 0:
            word = idx2word_target[idx]
            output_sentence.append(word)

        target_seq[0, 0] = idx
        states_value = [h, c]

    return ' '.join(output_sentence)

In [218]:
i = np.random.choice(len(input_sentences))
input_seq = encoder_input_sequences[i:i+1]
translation = translate_sentence(input_seq)
print('-')
print('Input:', input_sentences[i])
print('Response:', translation)

-
Input:  give the maximum price and score for wines produced in the appelation st .  helena .
Response: select max ( price ) score ) from wine where price = wine

In [219]:
i

2035

In [220]:
encoder_input_sequences[i]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,   61,    1,   44,   64,    5,  137,   18,  134,  158,
          6,    1, 1251, 1249, 1250])

In [221]:


input_integer_seq = input_tokenizer.texts_to_sequences(input_sentences)


encoder_input_sequences = pad_sequences(input_integer_seq, maxlen=max_input_len)

In [222]:
test_q = o.df_test['question'].values.tolist()
test_sql = o.df_test['query'].values.tolist()
test_input_sentences = [data.Preprocess(x).processed_text.numpy().decode().replace(data.SOS,'').replace(data.EOS,'') for x in test_q]

In [223]:
test_input_integer_seq = input_tokenizer.texts_to_sequences(test_input_sentences)

In [224]:
test_encoder_input_sequences = pad_sequences(test_input_integer_seq, maxlen=max_input_len)

In [225]:
test_encoder_input_sequences[100]

array([   0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,   61,   55,    1,   10,    5,  109,    2,
          1,   84,   47,   56, 1764])

In [229]:
count = 0
for i in range(len(test_input_sentences)):
    test_input_seq = test_encoder_input_sequences[i:i+1]
    translation = translate_sentence(test_input_seq)
    print('-')
    print('Input:', test_input_sentences[i])
    print(test_sql[i])
    print('Response:', translation)
    pred = translation.lower().replace(' ','')
    act = test_sql[i].lower().replace(' ','')
    if pred == act:
            count = count +1
print("Accuracy is {:.2f} %".format(count*100/len(test_input_sentences)))

-
Input:  how many team franchises are active ,  with active value 'y' ?
SELECT count(*) FROM team_franchise WHERE active = 'Y';
Response: select name from customer where how_to_get_there = 1990 and for = 1980;
-
Input:  how many products are never booked with amount higher than 200 ?
SELECT count(*) FROM Products_for_hire WHERE product_id NOT IN ( SELECT product_id FROM products_booked WHERE booked_amount  >  200 )
Response: select department_id from employees where salary not ( ( select from from where where = = 02 or : 06 : : 06 : : : : 33 : : : : : : : : : : : : : : : : : : : : : : : : : : : : : :
-
Input:  what are the first and last names of all customers with between 1000 and 3000 dollars outstanding ?
SELECT first_name ,  last_name FROM Customers WHERE amount_outstanding BETWEEN 1000 AND 3000;
Response: select date_of_transaction from faculty_participates_in intersect select from customers intersect select , , from where where = "football" and
-
Input:  what is the nickname of staff with first name as janessa and last name as sawayn ?
SELECT nickname FROM Staff WHERE first_name = "Janessa" AND last_name = "Sawayn";
Response: select year from from where location = and and events < 1980 and area
-
Input:  what are the names of the schools with some players in the mid position but no goalies ?
SELECT cName FROM  tryout WHERE pPos  =  'mid' EXCEPT SELECT cName FROM  tryout WHERE pPos  =  'goalie'
Response: select name from tryout where ppos = = except select from from where manager_id ! = "en" and
-
Input:  show the name and opening year for three churches that opened most recently .
SELECT name ,  open_date FROM church ORDER BY open_date DESC LIMIT 3
Response: select name , , , , , market_value from customers where year > = order by
-
Input:  return the maximum and minimum customer codes .
SELECT max(customer_code) ,  min(customer_code) FROM Customers
Response: select max ( ( ( from ) from cinema where openning_year = "florida" "retailing"
-
Input:  list all budget type codes and descriptions .
SELECT budget_type_code ,  budget_type_description FROM Ref_budget_codes
Response: select name , , , card_type_code from movie
-
Input:  what is the height of mount mckinley
SELECT mountain_altitude FROM mountain WHERE mountain_name  =  "mckinley";
Response: select name from actor order by = asc
-
Input:  how many furniture components are there in total ?
SELECT sum(num_of_component) FROM furniture
Response: select name from manufacturers where headquarter > (
-
Input:  how many invoices were billed from chicago ,  il ?
SELECT COUNT(*) FROM invoices WHERE billing_city  =  "Chicago" AND billing_state  =  "IL";
Response: select count ( * ) from college where enr = 10000
-
Input:  which states does the ohio river run through
SELECT traverse FROM river WHERE river_name  =  "ohio";
Response: select traverse from river where traverse = "illinois"; and
-
Input:  what are the last names and ages of the students who are allergic to milk and cat ?
SELECT lname ,  age FROM Student WHERE StuID IN (SELECT StuID FROM Has_allergy WHERE Allergy  =  "Milk" INTERSECT SELECT StuID FROM Has_allergy WHERE Allergy  =  "Cat")
Response: select name , lname from school where "m" = 'black' and select = from where where = = coast"
-
Input:  how many departments offer courses ?
SELECT count(DISTINCT dept_name) FROM course
Response: select dept_name ( business ) from college intersect select = = = order rank = '2016-03-15
-
Input:  how many drivers did not race in 2009 ?
SELECT count(DISTINCT driverId) FROM results WHERE raceId NOT IN( SELECT raceId FROM races WHERE YEAR != 2009 )
Response: select name , dates_active except friend where main_industry = 'banking' intersect select = from where first_name = = states"
-
Input:  how many albums are there ?
SELECT count(*) FROM ALBUM
Response: select name from campuses where enrollment > "2008"
-
Input:  find the number of different product types .
SELECT count(DISTINCT product_type_code) FROM products
Response: select distinct ( distinct ) from
-
Input:  who are the ministers ,  when did they take office ,  and when did they leave office ,  ordered by when they left office ?
SELECT minister ,  took_office ,  left_office FROM party ORDER BY left_office
Response: select , , , , book_title from customers order by = desc order
-
Input:  what is all the information about employees who have never had a job in the past ?
SELECT * FROM employees WHERE employee_id NOT IN (SELECT employee_id FROM job_history)
Response: select name from from where where = = ( select name from where where sportname = "football" and and
-
Input:  find the ids of all the order items whose product id is 11 .
SELECT order_item_id FROM order_items WHERE product_id = 11
Response: select max from from where where = "done" 15 select from college where where where state
-
Input:  what is the average price across all products ?
SELECT avg(price) FROM products
Response: select avg ( price products from from = school_code > price
-
Input:  find the average number of customers cross all banks .
SELECT avg(no_of_customers) FROM bank
Response: select avg ( ( where from = where where = = 2010
-
Input:  find the id of songs that are available in mp4 format and have resolution lower than 1000 .
SELECT f_id FROM files WHERE formats  =  "mp4" INTERSECT SELECT f_id FROM song WHERE resolution  <  1000
Response: select location from from where where < < intersect select
-
Input:  what is the school code of the accounting department ?
SELECT school_code FROM department WHERE dept_name  =  "Accounting"
Response: select name from manufacturers department amount amount ( 15 person and and and = 'student' order
-
Input:  when was the document named "marry cv" stored ?  give me the date .
SELECT date_stored FROM All_documents WHERE Document_name  =  "Marry CV"
Response: select name from documents where by like asc
-
Input:  find the average credit score of the customers who do not have any loan .
SELECT avg(credit_score) FROM customer WHERE cust_id NOT IN (SELECT cust_id FROM loan)
Response: select avg from from where where not = intersect select from from where where where "football" "football" state
-
Input:  show details of all visitors .
SELECT Tourist_Details FROM VISITORS
Response: select distinct from from manufacturers
-
Input:  count the number of stores .
SELECT count(*) FROM store
Response: select name from mountain where open_date = "austin" and
-
Input:  find all cities which has a " taj mahal "  .
SELECT city FROM business WHERE name  =  "Taj Mahal";
Response: select distinct from from where where = = "2008"
-
Input:  find the name and training hours of players whose hours are below 1500 .
SELECT pName ,  HS FROM Player WHERE HS  <  1500
Response: select name from date_of_birth where ycard where "m" and hs between 1990 15 : hours
-
Input:  return the different classes of races .
SELECT DISTINCT CLASS FROM race
Response: select name name from wine
-
Input:  what is the status code ,  phone number ,  and email address of the customer whose last name is kohler or whose first name is marina ?
SELECT customer_status_code ,  cell_mobile_phone_number ,  email_address FROM Customers WHERE first_name = "Marina" OR last_name  =  "Kohler"
Response: select first_name , last_name , market_value from customers where main_industry = in except select from in where select = main_industry 600 and
-
Input:  how many students are age 18 ?
SELECT count(*) FROM Student WHERE age  =  18
Response: select name from student where age > 'f' intersect select = college where where = 'm'
-
Input:  what are the appelations for wines produced after 2008 but not in the central coast area ?
SELECT Appelation FROM WINE WHERE YEAR  >  2008 EXCEPT SELECT Appelation FROM APPELLATIONS WHERE Area  =  "Central Coast"
Response: select price from wine where year = 600 and building > 100000
-
Input:  show all distinct cities in the address record .
SELECT DISTINCT city FROM addresses
Response: select distinct from from where where = =
-
Input:  count the number of party events .
SELECT count(*) FROM party_events
Response: select name from wine where score > 1989
-
Input:  what is id of the city that hosted events in the most recent year ?
SELECT host_city FROM hosting_city ORDER BY YEAR DESC LIMIT 1
Response: select winery from wine order by = desc
-
Input:  show the 3 counties with the smallest population .
SELECT County_name FROM county ORDER BY Population ASC LIMIT 3
Response: select name from county order by = desc
-
Input:  what is the name of the person who is the oldest ?
SELECT name FROM Person WHERE age  =  (SELECT max(age) FROM person)
Response: select name from people where age age age order by
-
Input:  how many rivers are in idaho
SELECT COUNT ( river_name ) FROM river WHERE traverse  =  "idaho";
Response: select name from river where traverse = "illinois"; and
-
Input:  what are names for top three branches with most number of membership ?
SELECT name FROM branch ORDER BY membership_amount DESC LIMIT 3
Response: select name from movie where year = 2000 and by movie movie movie year year year movie or from or or scores = "brander"
-
Input:  what is the location of the club named "tennis club" ?
SELECT clublocation FROM club WHERE clubname  =  "Tennis Club"
Response: select clublocation from club where nationality = film and
-
Input:  find the full name of the customer with the email "luisg @ embraer . com . br" .
SELECT FirstName ,  LastName FROM CUSTOMER WHERE Email  =  "luisg@embraer.com.br"
Response: select name from customer where artwork_id = "midfielder" and select from from where where = "football" and and and =
-
Input:  how many camera lenses have a focal length longer than 15 mm ?
SELECT count(*) FROM camera_lens WHERE focal_length_mm  >  15
Response: select max from teaches where year > 2008 and year = 2010
-
Input:  how many courses that do not have prerequisite ?
SELECT count(*) FROM course WHERE course_id NOT IN (SELECT course_id FROM prereq)
Response: select > from course where class ! = 1980
-
Input:  what is the date of the performance with the highest number of attendees ?
SELECT Date FROM performance ORDER BY Attendance DESC LIMIT 1
Response: select name from manager where by score limit
-
Input:  how many products are there ?
SELECT count(*) FROM products
Response: select name from school_code where year = = spielberg'
-
Input:  what is the product category description and unit of measurement of category "herbs" ?
SELECT product_category_description ,  unit_of_measure FROM ref_product_categories WHERE product_category_code  =  "Herbs"
Response: select headquarter , dates_active from customer where document_type_code = 2000 and birth_year = from movie invoices = = invoices
-
Input:  how many professors teach a class with the code acct-211 ?
SELECT count(DISTINCT PROF_NUM) FROM CLASS WHERE CRS_CODE  =  "ACCT-211"
Response: select name ( from intersect where where = "midfielder" select select year = where where where = intersect
-
Input:  what is the weight of the shortest person ?
SELECT Weight FROM people ORDER BY Height ASC LIMIT 1
Response: select name from people order by = desc
-
Input:  return me the number of the organizations in " north america "  .
SELECT COUNT ( DISTINCT name ) FROM organization WHERE continent  =  "North America";
Response: select name from projects where enr < ( select
-
Input:  what are the names of the songs that are modern or sung in english ?
SELECT song_name FROM song WHERE genre_is  =  "modern" OR languages  =  "english"
Response: select name from host where genre_is = "tony except select from from where salary = = except
-
Input:  in which distinct years was the governor "eliot spitzer" ?
SELECT DISTINCT YEAR FROM party WHERE Governor  =  "Eliot Spitzer"
Response: select distinct distinct distinct ) from
-
Input:  list all the model names sorted by their launch year .
SELECT model_name FROM chip_model ORDER BY launch_year
Response: select year from ship order by =
-
Input:  show the ids of all employees who have authorized destruction .
SELECT DISTINCT Destruction_Authorised_by_Employee_ID FROM Documents_to_be_destroyed
Response: select distinct name from manufacturers where
-
Input:  show all dates of transactions whose type code is "sale" .
SELECT date_of_transaction FROM TRANSACTIONS WHERE transaction_type_code  =  "SALE"
Response: select price from airports where winery = "los and
-
Input:  show me all the restaurants .
SELECT ResName FROM Restaurant;
Response: select distinct from from
-
Input:  what is the party of the youngest people ?
SELECT Party FROM people ORDER BY Age ASC LIMIT 1
Response: select name from people order age age desc movie year credits
-
Input:  find all the ids and dates of the logs for the problem whose id is 10 .
SELECT problem_log_id ,  log_entry_date FROM problem_log WHERE problem_id = 10
Response: select time , , , church from customers where budget_million > 93 by
-
Input:  what are the carriers of devices that are not in stock anywhere ?
SELECT Carrier FROM device WHERE Device_ID NOT IN (SELECT Device_ID FROM stock)
Response: select name from shop where mountain_id = 'panama' intersect select from from where where = = coast"
-
Input:  which state is mount whitney in
SELECT state_name FROM mountain WHERE mountain_name  =  "whitney";
Response: select state_name from driver where year = "afghanistan";
-
Input:  find the players whose names contain letter 'a' .
SELECT DISTINCT pName FROM Player WHERE pName LIKE '%a%'
Response: select price from customers where card_number like like
-
Input:  return the famous release date for the oldest artist .
SELECT Famous_Release_date FROM artist ORDER BY Age DESC LIMIT 1
Response: select name , address_road from university order by = desc
-
Input:  what is the name of the event that happened in the most recent year ?
SELECT name FROM event ORDER BY YEAR DESC LIMIT 1
Response: select name from manufacturers order by = desc
-
Input:  show all the planned delivery dates and actual delivery dates of bookings .
SELECT Planned_Delivery_Date ,  Actual_Delivery_Date FROM BOOKINGS
Response: select max , support_rate from hometown
-
Input:  find the ids of reviewers who did not give 4 star .
SELECT rID FROM Rating EXCEPT SELECT rID FROM Rating WHERE stars  =  4
Response: select name from climber where code = "cv" or select =
-
Input:  which film has the highest rental rate ?  and what is the rate ?
SELECT title ,  rental_rate FROM film ORDER BY rental_rate DESC LIMIT 1
Response: select title , date from paper where , birth_date , and order director = director
-
Input:  what is the starting year of the oldest technicians ?
SELECT Starting_Year FROM technician ORDER BY Age DESC LIMIT 1
Response: select name from technician where by = 'public'
-
Input:  what are the names of the airports in the city of goroka ?
SELECT name FROM airports WHERE city  =  'Goroka'
Response: select name from airports where city = airports
-
Input:  find the number of users called michelle
SELECT COUNT ( DISTINCT name ) FROM USER WHERE name  =  "Michelle";
Response: select name from business where year = 'steven intersect for
-
Input:  how many debates are there ?
SELECT count(*) FROM debate
Response: select dept_name from customer where by = "2008"
-
Input:  show theme and year for all exhibitions in an descending order of ticket price .
SELECT theme ,  YEAR FROM exhibition ORDER BY ticket_price DESC
Response: select name , address_road , seating from publisher order by time_of_purchase desc
-
Input:  what is the total number of customers who use banks in new york city ?
SELECT sum(no_of_customers) FROM bank WHERE city  =  'New York City'
Response: select price from customer where school_code = "m" and = "neb"
-
Input:  display all the information about the department marketing .
SELECT * FROM  departments WHERE department_name  =  'Marketing'
Response: select school_code from customer where gender = 'tokyo' and =
-
Input:  when do all the researcher role staff start to work ,  and when do they stop working ?
SELECT date_from ,  date_to FROM Project_Staff WHERE role_code  =  'researcher'
Response: select type from company where date_from like 'cutter' intersect select name from = where of = =
-
Input:  which tests have "pass" results ?  return the dates when the tests were taken .
SELECT date_test_taken FROM Student_Tests_Taken WHERE test_result  =  "Pass"
Response: select name from airlines where director = "bob and nationality
-
Input:  what are the names of cities that are in the county with the most police officers ?
SELECT name FROM city WHERE county_ID  =  (SELECT county_ID FROM county_public_safety ORDER BY Police_officers DESC LIMIT 1)
Response: select name from city where city = 'alice' order by from year where order
-
Input:  find the team of the player of the highest age .
SELECT Team FROM player ORDER BY Age DESC LIMIT 1
Response: select name from host where 'new = 1
-
Input:  what are the first name and gender of the students who have allergy to milk but can put up with cats ?
SELECT fname ,  sex FROM Student WHERE StuID IN (SELECT StuID FROM Has_allergy WHERE Allergy  =  "Milk" EXCEPT SELECT StuID FROM Has_allergy WHERE Allergy  =  "Cat")
Response: select fname , , , market_value from faculty where "m" = 'banking' and select from from where where > "football" and
-
Input:  which state is the largest city in montana in
SELECT state_name FROM city WHERE population  =  ( SELECT MAX ( population ) FROM city WHERE state_name  =  "montana" ) AND state_name  =  "montana";
Response: select state_name from from where where = = intersect and = wedding = = = "brander" and
-
Input:  how many markets have number of cities smaller than 300 ?
SELECT count(*) FROM market WHERE Number_cities  <  300
Response: select name from from where where > 600 and >
-
Input:  list the enrollment for each school that does not have "catholic" as denomination .
SELECT Enrollment FROM school WHERE Denomination != "Catholic"
Response: select name from stadium where artwork_id ! in ( select location from where where = = count
-
Input:  what are the names of all the dorms that don't have any amenities ?
SELECT dorm_name FROM dorm WHERE dormid NOT IN (SELECT dormid FROM has_amenity)
Response: select name from shop where openning_year > = intersect select name from where where openning_year = 80
-
Input:  find all the distinct visit dates .
SELECT DISTINCT Visit_Date FROM VISITS
Response: select distinct from from from
-
Input:  what are the names of different music genres ?
SELECT Name FROM GENRE
Response: select name name from
-
Input:  how many distinct payment methods are used by parties ?
SELECT count(DISTINCT payment_method_code) FROM parties
Response: select
-
Input:  how many distinct programs are broadcast at "night" time ?
SELECT count(DISTINCT program_id) FROM broadcast WHERE time_of_day  =  'Night'
Response: select name ( from wine order by = desc
-
Input:  what are the dates in which the mean sea level pressure was between 30 . 3 and 31 ?
SELECT date FROM weather WHERE mean_sea_level_pressure_inches BETWEEN 30.3 AND 31
Response: select distinct , amount_payment from from where where = ( except year artist_name from ) from winery = date . ) )
-
Input:  which assets did not incur any fault log ?  list the asset model .
SELECT asset_model FROM Assets WHERE asset_id NOT IN (SELECT asset_id FROM Fault_Log)
Response: select name , book_title from journalist where headquarters = 'banking' and
-
Input:  list the text of all tweets in the order of date .
SELECT text FROM tweets ORDER BY createdate
Response: select name from wine order by cname desc order
-
Input:  what are the names of organizations that contain the word "party" ?
SELECT organization_name FROM organizations WHERE organization_name LIKE "%Party%"
Response: select name from airlines where title like '%deleted
-
Input:  what are the countries that participated in both friendly and tournament type competitions ?